input {
  border: 2px solid #101010;
  background: #101010;
  padding: 6px;
  border-radius: 4px;
  font-size: 1rem;
}

input[type="file"] {
  font-size: 0.8rem;
}

input:focus-visible {
  outline: none;
  border-bottom-color: #909090;
}

button {
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex: 0 0 auto;
  background: #303030;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:focus-visible {
  outline: 2px dashed white;
  outline-offset: -2px;
}

.tier-item:focus-visible {
  outline: 2px dashed white;
  outline-offset: -2px;
}

.tier-list {
  width: 100vw;
  max-width: 600px;
}

dialog {
  border: none;
  border-radius: 8px;
  background: #202020;
}

dialog::backdrop {
  background-color: #00000090;
}

.dialog-title {
  color: #686868;
  margin-block-end: 14px;
}

.dialog-content {
  margin-block-end: 18px;
}

.dialog-actions {
  display: flex;
  gap: 12px;
}

.dialog-actions * {
  flex: 1;
}

.form-field {
  margin-block-end: 10px;
}

label {
  display: block;
  font-size: 13px;
  margin-block-end: 4px;
}

.named-tiers {
  padding-block-end: 200px;
}

.tier {
  margin: 10px;
}

.tier-title {
  display: flex;
}

.tier-title input {
  flex: 1 0 auto;
  font-size: 1.1rem;
  border-radius: 6px 0 0 0;
}

.tier-title button {
  border-radius: 0 6px 0 0;
}

.tier-container {
  height: 58px;
  padding: 4px;
  display: flex;
  gap: 4px;
  align-items: center;
  overflow: scroll;
  background: #161616;
  border-radius: 0 0 6px 6px;
}

.tier-item {
  border-radius: 4px;
  cursor: pointer;
}

.bottom-bar {
  position: fixed;
  background: #161616;
  bottom: 0;
  left: 0;
  width: 100vw;
}
.bottom-bar-limiter {
  max-width: 600px;
  margin: 0 auto;
}
.bottom-bar .actions {
}
.bottom-bar .actions .row {
  display: flex;
  background: #666;
  gap: 1px;
}
.bottom-bar .actions .row * {
  flex: 1;
}
.bottom-bar .actions .row > button {
  border-radius: 0;
}
.bottom-bar button:first-child {
  border-inline-start: none;
}
.unassigned-tier-wrapper {
  display: flex;
  width: 100%;
}
.bottom-bar .tier {
  flex: 1 0 0;
  overflow: hidden;
  margin: 0;
}
.bottom-bar .tier-container {
}

.add-tier-button-container {
  margin: 10px;
}
.add-tier-button {
  width: 100%;
  display: block;
}

.add-item-button {
  width: 50px;
  height: 50px;
  margin: 4px;
}

.hold-hint {
  padding-block: 8px;
  color: #777777;
  text-align: center;
}
