.tier-list {
  width: 90vw;
  max-width: 600px;
}
.tier {
  border: 1px solid #888888;
}
.tier-container {
  display: flex;
  border: 1px solid green;
  height: 68px;
  padding: 8px;
  overflow: scroll;
}

.tier-item {
  border: 1px solid aqua;
}

.bottom-bar {
  position: fixed;
  bottom: 20px;
  border: 1px solid darkred;
  width: 90vw;
  max-width: 600px;
}
.unassigned-tier-wrapper {
  display: flex;
  width: 100%;
}
.bottom-bar .tier {
  flex: 1 0 0;
  overflow: hidden;
}
.bottom-bar .tier-container {
}

.add-item-button {
  flex: 0 0 50px;
}
