input {
  border: none;
  background: darkgreen;
}

button {
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex: 0 0 auto;
  background: darkblue;
  border: 1px solid blue;
}

.tier-list {
  width: 100vw;
  max-width: 600px;
}

.named-tiers {
  padding-block-end: 200px;
}

.tier {
  margin-block-end: 10px;
}

.tier-title {
  display: flex;
}

.tier-title input {
  flex: 1 0 auto;
  font-size: 1.1rem;
}

.tier-container {
  height: 68px;
  padding: 8px;
  display: flex;
  gap: 4px;
  align-items: center;
  overflow: scroll;
  background: #000000;
}

.tier-item {
  border: 1px solid aqua;
}

.bottom-bar {
  position: fixed;
  background: #000000;
  bottom: 0;
  width: 100vw;
  max-width: 600px;
}
.bottom-bar .actions {
}
.bottom-bar .actions .row {
  display: flex;
}
.bottom-bar .actions .row * {
  flex: 1;
}
.unassigned-tier-wrapper {
  display: flex;
  width: 100%;
}
.bottom-bar .tier {
  flex: 1 0 0;
  overflow: hidden;
  margin: 0;
}
.bottom-bar .tier-container {
}

.add-tier-button {
  width: 100%;
  display: block;
}

.add-item-button {
  flex: 0 0 auto;
}
